
body {
    font-family: 'Poppins', sans-serif;
}

.titulo {
    text-align: center;
}

.sobremi {
    background-color: rgb(170, 170, 243);
    padding-top: 2em;
    padding-left: 3em;
    padding-bottom: 5em;
    padding-right: 3em;
    border: 1px solid black;
}

.cajagrande {
    display: flex;
}

.tecnofav {
    background-color: rgb(122, 122, 231);
    border: black 1px solid;
    text-align: center;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 5em;
}

.tecnofavtitulo {

    padding-bottom: 2em;

}

.actividadesfavtitulo {
    padding-bottom: 2em;

}

.actividadfav {
    background-color: rgb(195, 195, 253);
    align-items: center;
    border: 1px solid black;
    text-align: center;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form textarea,
form input[type="url"],
form input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

.cajaactividad {
    background-color: #45a049;
}


.tarjeta{
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 40px 10px 10px 10px;
    box-shadow:  0 4px 8px rgba(0,0,0,0.1);

}
.tarjeta img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;

}

.tarjeta{
    padding: 16px;
}